html {
    font-size: 12px;
}

* {
    font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body {
    margin: 0;
    padding: 0rem;
    margin: 0 auto;
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
}


.main-body {
    margin: 0;
    padding: 0rem;
    width: 69rem;
    margin: 0 auto;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

.primary-color {
    color: #FF6633 !important;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.end {
    justify-content: flex-end;
}

.search {
    height: 8.8rem;
    justify-content: space-between;
    align-items: center;
}

.search-logo {
    width: 13.2rem;
    height: 3.6rem;
}

.search-logo img {
    width: 100%;
    height: 100%;
}

.navigation-bar {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    height: 6rem;
    background: #222222;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar .navigation-bar-center {
    max-width: 69rem;
    height: 6rem;
    margin: 0 auto;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar .navigation-bar-center .left-logo-wrap {
    height: 2.8rem;
    cursor: pointer;
}

.navigation-bar .navigation-bar-center .left-logo-wrap img {
    height: 100%;
    height: 100%;
}

.navigation-bar .navigation-bar-center .right-list-wrap {
    display: flex;
    align-items: center;
}

.navigation-bar .navigation-bar-center .right-list-wrap ul {
    margin: 0;
    padding: 0;
}

.navigation-bar > .navigation-bar-center > .right-list-wrap > ul > li {
    display: inline;
    font-size: 1.6rem;
    color: #FFFFFF;
    line-height: 5rem;
    float: left;
    margin-left: 4rem;
    cursor: pointer;
    padding-top: 0.69rem;
}

.navigation-bar > .navigation-bar-center > .right-list-wrap > ul > li > a {
    color: #FFFFFF;
}

.navigation-bar .navigation-bar-center .right-list-wrap #input-wrap {
    display: none;
}

.navigation-bar .navigation-bar-center .right-list-wrap #input-wrap input {
    display: none;
}

.navigation-bar .navigation-bar-center .right-list-wrap .search-icon {
    display: none;
}

.navigation-bar .navigation-bar-center .right-list-wrap .contribute-button {
    border: 0.1rem solid #FF4612;
    width: 8rem;
    height: 2.8rem;
    font-size: 1.4rem;
    border-radius: 1.5rem;
    color: #FF4612;
    margin: 0 3rem;
    background: transparent;
}

.navigation-bar .navigation-bar-center .right-list-wrap .contribute-button a {
    color: #FF4612;
}

.nav-bar-info p {
    font-size: 1.4rem;
    color: #FFFFFF;
    line-height: 3.8rem;
    margin-right: 1rem;
    cursor: pointer;
}

.search-btns img {
    width: 100%;
    height: 100%;
}

.nav-bar li a {
    font-size: 1.6rem;
}

.search-input-wrap .search-btn {
    width: 9rem;
    height: 3rem;
    border-radius: 3.5rem;
    font-size: 1.4rem;
    border: none;
    background: #FF6633;
    color: white;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    z-index: 2;
    margin-left: 16rem;
}

.nav-bar li {
    display: inline;
    font-size: 1.6rem !important;
    color: #FFFFFF;
    line-height: 5rem;
    float: left;
    margin-left: 2rem;
}

.li-active {
    border-bottom: 0.4rem solid #FF4612;
}

.li-active a {
    color: #FF4612 !important;
}

.loginp a {
    font-size: 1.6rem;
}

.nav-bar p {
    font-size: 1.4rem;
    color: #FFFFFF;
    line-height: 3rem;
    margin-right: 1rem;
}

/*移动端新增nav导航*/
.nav-bar-bit {
    display: none;
    width: 100%;
    height: 6rem;
    margin: 0 auto;
    position: absolute;
    top: 12rem;
    right: 0;
    left: 0;
    background: #e2e2e2;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    opacity: 0.95;
}

.nav-bar-bit-info {
    width: 69rem;
    margin: 0 auto;
    height: 6rem;
}

.nav-bar-bit-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-bit-info a {
    color: #333333;
    opacity: 0.9;
    font-size: 1.6rem;
}


.nav-noth-bit {
    display: block;
    width: 100%;
    height: 6rem;
    margin: 0 auto;
    position: absolute;
    top: 6rem;
    right: 0;
    left: 0;
    background: #e2e2e2;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    opacity: 0.95;
}

.nav-noth-bit-info {
    width: 69rem;
    margin: 0 auto;
    height: 6rem;
}

.nav-noth-bit-info ul {
    width: 38rem;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
}

.nav-noth-bit-info ul li {

}

.nav-noth-bit-info a {
    color: #333333;
    opacity: 0.9;
    font-size: 1.6rem;
}


.section-1 {
    margin: 4rem 0;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-top: 8rem;
}

.section-1 .left {
    width: 69rem;
    height: 37.6rem;
}

.section-1 .left .img-item {
    width: 100%;
    height: 100%;
    background: url('../images/new4hou/banner.png');
    background-size: cover;
}

.section-1 .right {
    width: 69rem;
}

.section-1 .right .top {
    display: none;
}

.section-1 .right .bottom {
    display: none;
}

.section-1 .right .md-button-wrap {
    height: 13rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    background: #444444;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section-1 .right .md-button-wrap .nav-btn {
    width: 11rem;
    height: 4.37rem;
    line-height: 4.37rem;
    border-radius: 6px;
    font-size: 2rem;
    text-align: center;
    background: #666666;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.section-1 .right {
    display: flex;
    margin-top: 4rem;

}

.section-1 .right div:nth-child(1) {
    margin-right: 3rem;
}

.section-1-for-img {
    width: 33rem;
    height: 16rem;
}

.section-1-for-img img {
    width: 33rem;
    height: 16rem;
}

.section-1-for-img h1 {
    position: absolute;
    color: #fff;
    margin-top: -3rem;
    font-size: 1.6rem;
    padding-left: 1rem;
    font-weight: 400;
    width: 31rem;
    height: 2rem;
    display: block;
    overflow: hidden;
}

.section-2 .intro-bar {
    width: 69rem;
    height: 6.7rem;
    line-height: 6.7rem;
    border-top: 0.1rem solid #CCCCCC;
}

.section-2 .intro-bar div:nth-child(1) {
    font-size: 2rem;
    border-top: 0.6rem solid #FF6633;
    color: #FF6633;
    margin-top: -0.2rem;
}

.section-2 .intro-bar div:nth-child(2) {
    font-size: 1.6rem;
    align-items: center;
    color: #666666;
}

.section-2 .intro-bar div:nth-child(2) img {
    width: 0.83rem;
    height: 1.5rem;
}

.section-2 .intro-detail {
    width: 69rem;
}

.section-2 .intro-detail .left-img {
    width: 34.3rem;
    height: 18.7rem;
    background-size: cover !important;
}

.section-2 .intro-detail .right-list {
    width: 35.7rem;
    height: 18.7rem;
    padding-left: 2rem;
    justify-content: space-around;
}

.section-2 .intro-detail .right-list .list-detail {
    align-items: center;
}

.section-2 .intro-detail .right-list .list-detail img {
    width: 2.8rem;
}

.section-2 .intro-detail .right-list .list-detail span {
    font-size: 1.6rem;
    color: #333333;
    padding-left: 2rem;
}

.section-3 {
    width: 69rem;
    margin-top: 4rem;
}

.section-3 .section-3-item {
    width: 69rem;
    border-top: 0.1rem solid #CCCCCC;
    margin-bottom: 4rem;
}

.section-3 .index-mark {
    border: 0.1rem solid #ffffff;
}

.section-3 .index-mark .title-label {
    height: 6.48rem;
    padding: 0 1.1rem;
    align-items: center;
    background-size: cover;
    font-size: 2.81rem;
    color: white;
    background: #eeeeee;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.section-3 .index-mark .title-label span:nth-child(2), span:nth-child(3) {
    color: #34C859;
}

.section-3 .index-mark .title-label span:nth-child(4) {
    background: #34C759;
    border-radius: 0.5rem;
    color: white;
    padding: 0 1rem;
}

.wangan {
    width: 69rem;
    margin-bottom: 1rem;
}

.wangan img {
    width: 100%;
}

.zsnum {
    font-size: 2.81rem;
    margin-left: 2rem;
}

.section-3 .index-mark .index-mark-detail {
    width: 100%;
}

.section-3 .index-mark .index-mark-detail .item {
    border-top: 1px solid #cccccc;
    padding: 0.5rem 3.4rem 1rem 3.4rem;
}

.section-3 .index-mark .index-mark-detail .item div:nth-child(1) {
    height: 5.5rem;
    font-size: 2rem;
    justify-content: space-around;
    margin-top: 2rem;
}

.section-3 .index-mark .index-mark-detail .item:nth-child(4) {
    border-bottom: 1px solid #cccccc;
}

.section-3 .index-mark .index-mark-detail .item div:nth-child(1) span:nth-child(1) {
    color: #000000;
}

.section-3 .index-mark .index-mark-detail .item div:nth-child(1) span:nth-child(2) {
    color: #999999;
}

.section-3 .index-mark .index-mark-detail .item div:nth-child(2) {
    width: 19.4rem;
    height: 8.5rem;
    background-size: cover;
}

.section-3 .index-mark .index-mark-detail .item .down-img {
    background: url('../images/new4hou/down.png');
}

.section-3 .index-mark .index-mark-detail .item .up-img {
    background: url('../images/new4hou/up.png');
}

.section-3 .index-mark .index-mark-detail .item div:nth-child(3) {
    height: 5.5rem;
    font-size: 2rem;
    justify-content: space-around;
    text-align: center;
    margin-top: 2rem;
}

.section-3 .index-mark .index-mark-detail .item div:nth-child(3) span:nth-child(1) {
    color: #000000;
}

.section-3 .index-mark .index-mark-detail .item div:nth-child(3) span:nth-child(2) {
    color: #999999;
    border-radius: 0.5rem;
    color: white;
    padding: 0 1rem;
}

.section-3 .index-mark .index-mark-detail .item div:nth-child(3) .down {
    background: #34C759;
}

.section-3 .index-mark .index-mark-detail .item div:nth-child(3) .up {
    background: #FF3B30;
}

.section-3 .section-3-item .intro-bar {
    width: 69rem;
    height: 7.7rem;
    line-height: 7.7rem;
}

.section-3 .intro-bar div:nth-child(1) {
    font-size: 2rem;
    color: #FF6633;
}

.section-3 .intro-bar div:nth-child(1) ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-3 .intro-bar div:nth-child(1) ul .title {
    display: inline;
    font-size: 2rem;
    color: #666666;
    line-height: 5.7rem;
    float: left;
    margin-right: 2rem;
    margin-top: 0.3rem;
    cursor: pointer;
}

.section-3 .intro-bar div:nth-child(1) ul .active {
    display: inline;
    font-size: 2rem;
    color: #FF6633;
    line-height: 5.8rem;
    float: left;
    margin-right: 2rem;
    border-top: 0.5rem solid #FF6633;
    cursor: pointer;
    margin-top: -0.2rem;
}

.active-list .active {
    display: inline;
    font-size: 2rem;
    color: #FF6633;
    line-height: 5.7rem;
    float: left;
    margin-right: 2rem;
    border-top: 0.5rem solid #FF6633;
    cursor: pointer;
}

.section-3 .intro-bar div:nth-child(1) ul .divider {
    display: inline;
    font-size: 1.5rem;
    color: #CCCCCC;
    line-height: 5.7rem;
    float: left;
    margin-right: 2rem;
    margin-top: 0.1rem;
    border-top: 0.5rem solid white;
    cursor: pointer;
}

.section-3 .intro-bar div:nth-child(2) {
    font-size: 1.6rem;
    align-items: center;
    color: #666666;
}

.section-3 .intro-bar div:nth-child(2) img {
    width: 0.83rem;
    height: 1.5rem;
}

.section-3 .top-special {
    width: 69rem;
    margin-bottom: 1rem;
}

.section-3 .top-special img {
    width: 34.32rem;
    height: 18.72rem;
}

.section-3 .top-special div {
    width: 34.68rem;
    height: 18.72rem;
    font-size: 2rem;
    font-weight: 800;
    color: #000000;
    line-height: 3rem;
    margin-left: 2rem;
    display: flex;
}

.section-3 .top-special div a {
    display: flex;
    align-items: center;
}

.section-3 .article-lists {
    align-items: center;
}

.section-3 .article-lists .dotted {
    width: 0.8rem;
    height: 0.8rem;
    background: #FF6633;
    border-radius: 50%;
    margin-right: 1rem;
}

.section-3 .article-lists .circle-dotted {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.5rem solid #FF6633;
    margin-right: 1rem;
}

.section-3 .article-lists span {
    width: 69rem;
    line-height: 5rem;
    font-size: 2rem;
    font-family: PingFang SC;
    color: #333333;
}

.section-3 .section-3-item .activity-schedule-lists {
    height: 36rem;
}

.section-3 .section-3-item .activity-schedule-lists .lists-item {
    line-height: 4rem;
    color: #333333;
    font-size: 2rem;
}

.section-3 .section-3-item .activity-schedule-lists .lists-item div:nth-child(1) {
    align-items: center;
}

.section-3 .section-3-item .activity-schedule-lists .lists-item div:nth-child(1) img {
    width: 4.94rem;
    height: 4.94rem;
    margin-right: 2.01rem;
}

.ad-banner {
    width: 69rem;
    margin: 4rem 0;
}

.section-4 .nav-label {
    width: 69rem;
    border-top: 0.1rem solid #CCCCCC;
}

.section-4 .nav-label .intro-bar {
    min-height: 7.6rem;
    align-items: center;
    flex-wrap: wrap;
}

.section-4 .nav-label .intro-bar ul {
    list-style: none;
    padding: 0;
}

.section-4 .nav-label .intro-bar ul li {
    display: inline;
    font-size: 2rem;
    color: #666666;
    line-height: 7.6rem;
    float: left;
    margin-right: 1rem;
    border-top: 0.7rem solid white;
    margin-top: -1rem;
}

.section-4 .nav-label .intro-bar ul .activeing {
    border-top: 0.7rem solid #FF6633;
}

.section-4 .nav-label .intro-bar .see-more {
    font-size: 1.6rem;
    color: #666666;
    border-top: 0.7rem solid white;
    align-items: center;
}

.section-4 .nav-label .intro-bar .see-more img {
    width: 0.83rem;
    height: 1.5rem;
    margin-left: 0.5rem;
}

.section-4 .articles-wrap {
    flex-wrap: wrap;
}

.section-4 .articles-wrap div {
    width: 69rem;
    margin-bottom: 1rem;
}

.section-4 .articles-wrap .articles-wrap-item {
    margin-bottom: 4rem;
}

.section-4 .articles-wrap .top-item .intro-img {
    width: 34.32rem;
    height: 18.72rem;
}

.section-4 .articles-wrap .top-item .intro-img img {
    width: 34.32rem;
    height: 18.72rem;
}

.section-4 .articles-wrap .top-item .intro-img div {
    width: 34.32rem;
    height: 18.72rem;
}

.section-4 .articles-wrap .top-item .intro-title {
    width: 34.32rem;
    height: 18.72rem;
    margin-left: 2rem;
    font-size: 2rem;
    color: #000000;
    font-weight: 800;
    display: flex;
}

.section-4 .articles-wrap .top-item .intro-title a {
    display: flex;
    align-items: center;
}

.section-4 .articles-wrap .list-item {
    font-size: 2rem;
    line-height: 4.4rem;
    color: #333333;
}

.section-5 {
    margin-top: 4rem;
}

.section-5 .section-5-wrap {
    width: 69rem;
}

.section-5 .section-5-wrap .top-img {
    height: 12rem;
    line-height: 8rem;
    font-size: 4.4rem;
    text-align: left;
    padding: 0 3.6rem;
    color: white;
    background: url('../images/new4hou/招.png');
    background-size: cover;
    letter-spacing: 0.8rem;
}

.section-5 .section-5-wrap ul {
    list-style: none;
    padding: 0;
    font-size: 1.5rem;
    color: #666666;
    line-height: 4rem;
}

.section-5 .section-5-wrap ul li span {
    color: #999999;
}

.section-5 .section-5-wrap ul li {
    font-size: 2rem !important;
    line-height: 2;
}

.section-6 {
    height: 30rem;
    background: #111111;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 8.9rem;
}

.section-6 .top-share-icons {
    width: 16rem;
    margin: 9rem -10rem 5.1rem 0;
}

.section-6 .top-share-icons img {
    width: 3.4rem;
    height: 3.4rem;
}

.section-6 .links {
    width: 47.8rem;
    margin-bottom: 8.3rem;
    font-size: 1.6rem;
    margin-top: 10rem;
}

.section-6 .links span {
    color: #999999;
    margin-left: -10rem;
}

.section-6 .links span a {
    color: #999999;
}

.section-6 .bottom-intro {
    color: #666666;
    justify-content: space-around;
    font-size: 1.2rem;
    display: flex;
}

.section-6 .bottom-intro span a {
    color: #666666;
}

.section-6 .bottom-intro span:nth-child(2) {
    align-items: center;
}

.section-6 .bottom-intro span:nth-child(2) img {
    height: 1.8rem;
    margin-right: 1.3rem;
}

.section-6 .bottom-intro span:nth-child(2) img:nth-child(1) {
    margin-left: 1.3rem;
}

.a-color {
    color: #6C6C6C;
}

.loophole-div {
    border-top: 0.5rem solid #FF6633;
}

.nav-btn a {
    color: #FFFFFF;
}

.text-ellipsis a {
    color: #6C6C6C;
}

.t-font-cclor a {
    color: #000000;
}

.activity-schedule {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 60rem;
}

.span-color a {
    color: #6C6C6C;
}

.member_list_new {
    position: absolute;
    margin-left: 1.2rem !important;
    margin-top: 0.9rem !important;
    border: 1px solid red;
    background-color: #fff;
    display: none;
    width: 8rem;
    text-align: center;
    border-radius: 3px;
}

.member_list_new li span {
    font-size: 1.4rem !important;
}

.footlinks {
    width: 56rem;
    margin: 0 auto;
    display: flex;
}

.section-pad {
    display: none;
}

.zsnumpd {
    margin-right: 3rem;
}

.bgs {
    background-color: #eeeeee;
    border-top: 0.1rem solid #eeeeee !important;
    height: 42.5rem !important;
}

.timeline-small {
    max-width: 98rem;
    max-height: 38.6rem;
    height: 42.5rem;
}

.timeline-small a {
    color: #a9a4a4;
}

.timeline-small-body ul li {
    margin: 0;
    padding: 0;
    margin-bottom: -2rem;
}

.timeline-small-body ul {
    padding: 1em 0 0 2em;
    margin: 0;
    list-style: none;
    position: relative;
    margin-top: -3rem;
    height: 27rem;
    line-height: 11rem;
    padding-top: 1rem;
}

.timeline-small-body ul::before {
    content: ' ';
    height: 94%;
    width: 0.3rem;
    background-color: #FF4612;
    position: absolute;
    top: 5rem;
    left: 4.8rem;
    z-index: 1;
}

.timeline-small-body li div {
    display: inline-block;
    margin: 1em 0;
    vertical-align: top;
}

.timeline-small-body .bullet.pink {
    width: 1rem;
    height: 1rem;
    background-color: #FF4612;
    border-radius: 50%;
    border: 0.5rem solid #fff;
    margin-top: 2rem;
}

.timeline-small-body .bullet.green {
    background-color: lightseagreen;
    border: 3px solid #B0E8E2;
}

.timeline-small-body .bullet.blue {
    background-color: aquamarine;
    border: 3px solid cadetblue;
}

.timeline-small-body .bullet.orange {
    background-color: salmon;
    border: 3px solid #EB8B6E;
}

.timeline-small-body .date {
    width: 50%;
    font-size: 2rem;
    padding-right: 2rem;
    color: #222222;
    padding-left: 1rem;
}

.timeline-small-body .desc {
    width: 50%;
}

.timeline-small-body h3 {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
}

.timeline-small-body h4 {
    margin: 0;
    font-size: 0.7em;
    font-weight: 400;
    color: #808080;
}

.timeline-small-body .ac-ti {
    font-size: 2rem;
    color: #a9a4a4;
    line-height: 2.5rem;
    margin-top: -1rem;
    padding-left: 3rem;
}

.time-active-ins {
    width: 87%;
    max-width: 60rem;
    max-height: 34.6rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

.time-active-ins ul {
    list-style: none;
    padding: 0;
    line-height: 7.4rem;
    margin: -2.2rem 0 0 0;
}

.time-active-ins .date {
    width: 50%;
    font-size: 2rem;
    padding-right: 2rem;
    color: #222222;
    padding-left: 1rem;
}

.time-active-ins .ac-ti {
    font-size: 2rem;
    color: #a9a4a4;
    line-height: 2.5rem;
    margin-top: -1rem;
    padding-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 55rem;
}

.time-active-ins a {
    color: #a9a4a4;
}

.time-active-ins::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #cccccc;
}

.div-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.time-active-ins::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #aaaaaa;
}


.active-cleas {
    border-top: 0.5rem solid #eeeeee !important;
    padding-left: 3rem;
}

.point-c {
    color: #FF4612;
    font-size: 2rem;
}

.section-mobile {
    display: none;
    width: 69rem;
    height: 8rem;
    justify-content: space-between;
}

.nav-mobile-list {
    justify-content: space-between;
}

.nav-mobile-list a {
    color: #FF4612;
    font-size: 1.6rem;
    border: 1px solid #FF4612;
    width: 11rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
}

.h1s {
    position: absolute;
    margin-top: -7.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 1.8rem;
    opacity: 0.9;
}

.logoa {
    margin-right: 0rem;
!important;
}

.nameheader_new {
    max-width: 6.8rem !important;
}

.category-con b {
    color: #cccccc;
}

.section-pad-right {
    display: none;
}

.element3 {
    padding-right: 0.5rem;
    font-size: 1.6rem !important;
}

.section-1 .left > div h1 {
    position: absolute;
    bottom: 0px;
    height: 50px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 18px;
    text-align: left;
    width: 100%;
    padding-top: 16px;
    padding-right: 20px;
    margin: 0 auto;
    padding-left: 14px;
}

.ehover6 a h1 {
    width: 32rem;
    height: 3rem;
    display: flex;
    background-color: rgba(0, 0, 0, .6);
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*修改二级页面适配*/
.loopcontainer {
    margin-top: 6rem !important;
}

.loopcontainer .homenewwrap {
    width: 100% !important;
}

.new_left {
    width: 100% !important;
}

.new_left li {
    width: 100% !important;
}

.new_con {
    width: 550px !important;
}

.new-active_article {
    padding: 0;
    width: 690px !important;
}

.new-active_article li {
    width: 100% !important;
}

.new-grid-item-img {
    width: 690px !important;
    height: 362.5px !important;
}

#activewrapper {
    margin-top: 8rem;
}

.articlecontent {
    width: 100% !important;
}

.new-block-item {
    margin-top: 11rem !important;
}
.m-section-1{
    margin-top: 14rem;
}
.disclaimer{
    color: #666;
    margin: 0 auto;
    width: 77rem;
    position: relative;
    padding-bottom: 25px;
    margin-top: -20px;
    font-size: 1.4rem;
}
.navindex li span{
    color: #fff!important;
}
.side{
    display: none;
}
