# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\各科笔记\pythonScript\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
