# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\各科笔记\数据结构笔记\Data_Structure_Note-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
